@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('./Nunito/static/Nunito-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Nunito';
    font-weight: 500;
    src: url('./Nunito/static/Nunito-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Nunito';
    font-weight: 600;
    src: url('./Nunito/static/Nunito-Bold.ttf') format('truetype');
}
